/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: #ff69b4; /* Pembe arka plan */
    color: #333;
}

header {
    background-color: #ff69b4;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #ff69b4; /* Pembe arka plan */
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
    color: #ff1493;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
    background-color: #fff; /* Beyaz arka plan */
    padding: 20px;
}

footer {
    background-color: #ff69b4;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
